                <!-- FOSDEM banner -->
                <div class="alert alert-warning" role="alert" style="bottom: 20px;">
                   We're organizing quantum open source conference, February 2-3! Learn about quantum computing, play with currently available quantum computing hardware using
open source platforms and contribute to the growing ecosystem at the quantum computing workshop. <a href="/fosdem" class="alert-link">Read more.</a>
                </div>
                <!-- FOSDEM banner end -->

