<!-- FOSDEM banner -->
<div class="alert alert-warning" role="alert" style="bottom: 20px;">
    At FOSDEM 2020, we announced the new quantum computing mentorship program and would like to invite you to participate. Apply until Feb 14th if you're interested in working on an open source quantum project with the support of an expert and a community of like-minded people from all around the world.
    <a href="/qc_mentorship" class="alert-link">Click here to learn more.</a>
</div>
<!-- FOSDEM banner end -->
