<!-- Quantum Future Hackathon banner -->
<div class="alert alert-warning" role="alert" style="bottom: 20px;">
    We're organizing a <b><u>quantum hackathon at the Fields Institute in Toronto, October 18-20!</u></b> Team up with friends & strangers to hack quantum! During the weekend you will learn about quantum computing, play with currently available quantum computing hardware using open source platforms and contribute to the growing ecosystem of quantum open source software. Previous knowledge of quantum physics is not required. <a href="/fosdem" class="alert-link">Click here to read more.</a>
</div>
<!-- Quantum Future Hackathon banner end -->
