<!-- Quantum Future Hackathon banner -->
<div class="alert alert-warning" role="alert" style="bottom: 20px;">
    QOSF and CERN are co-organizing a <b><u>quantum hackathon at the Fields Institute in Toronto, October 18-20!</u></b> Apply and team up with friends & strangers to hack quantum! During this weekend you will learn about quantum computing, play with currently available quantum computing hardware and contribute to the growing ecosystem of quantum open source software. Previous knowledge of quantum physics is not required. <a href="/quantum-hackathon" class="alert-link">Read more.</a>
</div>
<!-- Quantum Future Hackathon banner end -->
